// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-text: #7e7e7e !default;
$black: #000 !default;

// Base colors definitions
$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Theme color default definitions
$primary: #034c8c !default;
$secondary: $gray-400 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: #ecf2f6 !default;
$dark: $gray-800 !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark
  ),
  $theme-colors
);

body {
  background-color: $light;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

form > div {
  position: relative;
  border: 1px solid $primary;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  margin: 20px 0px;
}

form > div > label {
  border-radius: 50%;
  position: absolute;
  left: 15px;
  color: $primary;
  transition: all 0.3s ease;
  padding: 0px 5px;
  background-color: inherit;
}

form > div > label[for^='select-'] {
  border-radius: 50%;
  position: absolute;
  left: 15px;
  color: $primary;
  transition: all 0.3s ease;
  padding: 0px 5px;
  background-color: inherit;
}

form > div > input {
  border: none;
  width: 100%;
}

form > div > input[type='date']:required:invalid:not(:focus) {
  color: transparent;
}

form > div > select {
  border: none;
  width: 100%;
  outline: none;
}

form > div > input:focus + label {
  top: -14px;
}

form > div > input:required:valid + label {
  top: -14px;
}

form > div > input:focus {
  outline: 0;
}

form > div > select:valid + label {
  transform: translate(0px, -24px);
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
